
@model Property

@await Html.PartialAsync("_PrivateChat")

<form method="post">
    <div class="card shadow border-0 mt-4 mb-4">
        <div class="card-header bg-warning bg-gradient text-light py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white text-uppercase">@Model.Address, @Model.City, @Model.Postcode</h3>
                    <p class="text-white-50 fw-semibold mb-0">Agent: @Model.ApplicationUser.UserName</p>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="property-image-carousel">
                <div id="propertyImageCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @if (Model.Images != null && Model.Images.Any())
                        {
                            int index = 0;
                            foreach (var image in Model.Images)
                            {
                                <div class="carousel-item @(index == 0 ? "active" : "")">
                                    <img src="@image.ImageUrl" class="d-block w-100 rounded" alt="Property Image @(index + 1)" style="width: 250px; height: 250px; object-fit: scale-down">
                                </div>
                                index++;
                            }
                        }
                        else
                        {
                            <div class="carousel-item active">
                                <img src="/images/no-image-available.png" class="d-block w-100 rounded" alt="No Images Available">
                            </div>
                        }
                    </div>
                    <!-- Carousel Controls -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#propertyImageCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#propertyImageCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>


            <div class="property-details">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-lg-6 offset-lg-1">
                        <h5> Property Details</h5>
                        <div class="row ps-2">
                            <h6> @Model.NumberOfBedrooms <i class="fa-solid fa-bed" title="Number of Bedrooms"></i>  @Model.NumberOfBathrooms <i class="fa fa-solid fa-toilet" title="Number of Bathrooms"></i> </h6>
                        </div>
                        <div class="row ps-2">
                            <h6 class="text-dark text-opacity-50">Property Type: @Model.PropertyType.Name</h6>
                        </div>
                        <div class="row ps-2">
                            @{
                                double areaBySingleBeds = (Model.FloorArea / 1.71);
                                double roundedAreaBySingleBeds = Math.Round(areaBySingleBeds, 2);
                            }
                            <h6 class="text-dark text-opacity-50">Floor Area: @Model.FloorArea (m<sup>2</sup>) (Same area as @roundedAreaBySingleBeds single beds)</h6>
                        </div> 
                        <div class="row ps-2">
                            <h6 class="text-dark text-opacity-50  pb-2">
                                Rent Price:
                                <span class="text-dark text-opacity-50 fw-semibold">
                                    @Model.Price.ToString("c")
                                </span>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-agent-details">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-lg-6 offset-lg-1">
                        <h5> Contact Agent Details</h5>
                        <div class="row">
                            <div class="col-12 col-md-8">
                                <button type="submit" class="btn btn-primary bg-gradient w-100 py-2 mb-1 text-uppercase fw-semibold">
                                    <i class="bi bi-telephone-fill"></i>@Model.ApplicationUser.PhoneNumber
                                </button>
                                <button type="submit" class="btn btn-primary bg-gradient w-100 py-2 mb-1 text-uppercase fw-semibold">
                                    <i class="bi bi-envelope-arrow-up-fill"></i> @Model.ApplicationUser.Email
                                </button>
                                <button type="button" class="btn btn-primary bg-gradient w-100 py-2 mb-1 text-uppercase fw-semibold"
                                        data-bs-toggle="modal" data-bs-target="#chatModal">
                                    <i class="bi bi-chat-left-text-fill"></i> Chat
                                </button>
                            </div>
                        </div>
                        <div class="row pl-2 mb-3">
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-primary text-white border-0 fw-semibold"
                                          id="inputGroup-sizing-default">
                                        Count
                                    </span>
                                    <input type="number" value="1" class="form-control text-end"
                                           aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

