@using System.Globalization
@model PropertyDetailsVM
@{
    // Razor variable to check if the user is logged in
    var isLoggedIn = User.Identity.IsAuthenticated;
}

<div class="card shadow border-0 mt-4 mb-4 property-details-card">

        <div class="card-header bg-warning bg-gradient text-light py-4">
            <div class="row">
                <div class="col-12 text-center">
                <h3 class="text-white text-uppercase">@Model.Property.Address, @Model.Property.City, @Model.Property.Postcode</h3>
                <p class="text-dark fw-semibold mb-0">Listed By: @Model.Property.ApplicationUser.Name</p>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="property-image-carousel">
                <div id="propertyImageCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                    @if (Model.Property.Images != null && Model.Property.Images.Any())
                        {
                            int index = 0;
                            foreach (var image in Model.Property.Images)
                            {
                                <div class="carousel-item @(index == 0 ? "active" : "")">
                                    <img src="@image.ImageUrl" class="d-block w-100 rounded" alt="Property Image @(index + 1)" style="width: 250px; height: 250px; object-fit: scale-down">
                                </div>
                                index++;
                            }
                        }
                        else
                        {
                            <div class="carousel-item active">
                                <img src="/images/no-image-available.png" class="d-block w-100 rounded" alt="No Images Available">
                            </div>
                        }
                    </div>
                    <!-- Carousel Controls -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#propertyImageCarousel" data-bs-slide="prev">
                        <i class="fas fa-chevron-left fa-2x" aria-hidden="true"></i>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#propertyImageCarousel" data-bs-slide="next">
                        <i class="fas fa-chevron-right fa-2x" aria-hidden="true"></i>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

                <div class="property-details">
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-lg-6 offset-lg-1">
                            <h5> Property Details</h5>
                            <div class="row ps-2">
                            <h6> @Model.Property.NumberOfBedrooms <i class="fa-solid fa-bed" title="Number of Bedrooms"></i>  @Model.Property.NumberOfBathrooms <i class="fa fa-solid fa-toilet" title="Number of Bathrooms"></i> </h6>
                            </div>
                            <div class="row ps-2">
                            <h6 class="text-dark text-opacity-50">Type: @Model.Property.PropertyType.Name</h6>
                            </div>
                            <div class="row ps-2">
                                @{
                                double areaInSqFt2 = (Model.Property.FloorArea * 10.764);
                                double roundedAreaInSqFt2 = Math.Round(areaInSqFt2, 2);
                                }
                            <h6 class="text-dark text-opacity-50">Size: @Model.Property.FloorArea m<sup>2</sup> (@roundedAreaInSqFt2 sqft)</h6>
                            </div> 
                            <div class="row ps-2">
                                <h6 class="text-dark text-opacity-50  pb-2">
                                    Monthly Rent:
                                    <span>@string.Format(new CultureInfo("en-GB"), "{0:C}", Model.Property.Price)</span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-lg-6 offset-lg-1">
                        <div class="travel-time-section">
                            <h5>Travel Time to your Points of Interest </h5>

                            <div class="row ps-2">
                                <div class="col-12">
                                    <ul id="travelTimesList" class="list-group w-100">
                                        <li class="list-group-item">Select a travel mode and click 'Get Travel Time' to view estimated travel durations.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row ps-2">
                                <div class="col-12">
                                    <label for="travelProfile"></label>
                                    <select id="travelProfile" class="form-select w-100 mb-2">
                                        <option value="driving-car">Driving</option>
                                        <option value="cycling-regular" selected>Cycling</option>
                                        <option value="foot-walking">Walking</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row ps-2">
                                <button id="calculateTravelTime" data-is-logged-in="@isLoggedIn.ToString().ToLower()"
                                class=" btn btn-warning bg-gradient w-100 py-2 mb-1 text-uppercase fw-semibold">
                                    <i class="bi bi-clock-history"></i> Get Travel Time
                                </button>
                            </div>
                        </div>

                        <!-- Hidden inputs for Latitude and Longitude -->
                        <input type="hidden" id="propertyLatitude" value="@Model.Property.Latitude" />
                        <input type="hidden" id="propertyLongitude" value="@Model.Property.Longitude" />

                        <!-- Hidden inputs for property & userId -->
                        <input type="hidden" id="propertyId" value="@Model.Property.Id" />
                        <input type="hidden" id="userId" value="@Model.UserId" />

                        <!-- Hidden input for user locations -->
                        <input type="hidden" id="userLocations" value='@Html.Raw(Json.Serialize(Model.UserLocations))' />
                    </div>
                </div>
                
               

                <div class="viewSection">
                    <div class="row pl-2 mb-3">
                        <div class="col-md-4 col-6">
                            <p id="viewCount" data-property-id="@Model.Property.Id" class="fs-5 fw-bold text-primary">
                                Total Views: <span id="viewCountNumber">@Model.TotalViews</span>
                                <span id="loadingSpinner" class="spinner-border spinner-border-sm text-primary d-none" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </span>
                            </p>
                        </div>
                    </div>
                    <canvas id="viewsChart"></canvas>
                </div>

                <form method="post">
                    <div class="contact-agent-details">
                        <div class="row d-flex justify-content-center">
                            <div class="col-12 col-lg-6 offset-lg-1">
                                <h5> Get in Touch with the Agent</h5>
                                <div class="row">
                                    <div class="col-12 col-md-8">
                                        <!-- Phone Section -->
                                        <div class="d-flex align-items-center mb-2">
                                            <a href="tel:@Model.Property.ApplicationUser.PhoneNumber"
                                               class="btn btn-primary bg-gradient w-100 py-2 fw-semibold d-flex align-items-center justify-content-center">
                                                <i class="bi bi-telephone-fill me-2"></i> @Model.Property.ApplicationUser.PhoneNumber
                                            </a>
                                            <button class="btn btn-outline-secondary ms-2 copy-btn"
                                                    data-copy-text="@Model.Property.ApplicationUser.PhoneNumber">
                                                <i class="bi bi-clipboard"></i>
                                            </button>
                                        </div>

                                        <!-- Email Section -->
                                        <div class="d-flex align-items-center mb-2">
                                            <a href="mailto:@Model.Property.ApplicationUser.Email"
                                               class="btn btn-primary bg-gradient w-100 py-2 fw-semibold d-flex align-items-center justify-content-center">
                                                <i class="bi bi-envelope-arrow-up-fill me-2"></i> @Model.Property.ApplicationUser.Email
                                            </a>
                                            <button class="btn btn-outline-secondary ms-2 copy-btn"
                                                    data-copy-text="@Model.Property.ApplicationUser.Email">
                                                <i class="bi bi-clipboard"></i>
                                            </button>
                                        </div>
                                    
                                        <!-- Hidden fields for necessary data -->
                                        <input type="hidden" name="propertyAddress" value="@Model.Property.Address" />
                                        <input type="hidden" name="propertyCity" value="@Model.Property.City" />
                                        <input type="hidden" name="propertyPrice" value="@Model.Property.Price" />

                                        <button type="submit" class="btn btn-primary bg-gradient w-100 py-2 mb-1 fw-semibold d-flex align-items-center justify-content-center"
                                                asp-controller="Notification"
                                                asp-action="Chat"
                                                asp-route-propertyId="@Model.Property.Id"
                                                asp-route-recipientEmail="@Model.Property.ApplicationUser.Email">
                                                <i class="bi bi-chat-left-text-fill me-2"></i> Message the Agent
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form> 
        </div>
</div>

<!-- Auth Modal for handling if user not logged in and trying to calculate travel time -->
<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="authModalLabel">Authentication Required</h5>
            </div>
            <div class="modal-body">
                You must be logged in to check travel times.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="/Identity/Account/Register" class="btn btn-success">Register</a>
                <a href="/Identity/Account/Login" class="btn btn-primary">Login</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src = "~/js/travelTime.js"></script>
    <script src="~/js/propertyDetailsSignalR.js"></script>
    <script src="~/js/propertyDetailsChart.js"></script>
    <script src="~/js/propertyDetailsCopy.js"></script>
}


