@model IEnumerable<Property>



<div class="container">
    @if(Model != null)
    {
        var promotedProperty = Model.FirstOrDefault();

        <div class="row home-banner-container">
            <div class="col-4 square-box pt-5">
                <h2 class="text-center">Search for</h2>
                <form method="post" asp-controller="Home" asp-action="SearchResults" class="p-3">
                    <!-- Button group for radio buttons -->
                    <div class="btn-group d-flex justify-content-center" role="group" aria-label="Search Type">
                        <input type="radio" class="btn-check" name="searchType" id="searchAll" value="All" autocomplete="off" checked>
                        <label class="btn btn-outline-success" for="searchAll">All</label>
                        
                        <input type="radio" class="btn-check" name="searchType" id="searchHouse" value="House" autocomplete="off">
                        <label class="btn btn-outline-success" for="searchHouse">House</label>

                        <input type="radio" class="btn-check" name="searchType" id="searchBedroom" value="Bedroom" autocomplete="off">
                        <label class="btn btn-outline-success" for="searchBedroom">Bedroom</label>

                    </div>
                    <div class="mt-3">
                        <input id="searchPhrase" name="searchPhrase" class="form-control"
                               type="search" placeholder="Search" aria-label="Enter search term">
                    </div>
                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-lg btn-secondary" type="submit">Search</button>
                    </div>
                </form>
            </div>



           
            

            @if(promotedProperty != null)
            {
                <div class="col-sm-6">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <img src="@promotedProperty.ImageUrl" class="card-img-top rounded" alt="Image of @promotedProperty.Address" />
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                    <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@promotedProperty.Address</p>
                                    <p class="card-title text-warning text-center">@promotedProperty.PropertyType.Name</p>
                            </div>
                            <div class="pl-1">
                                    <p class="text-dark opacity-75 text-center"><span>@promotedProperty.Price.ToString("c")</span></p>
                            </div>
                        </div>
                        <div>
                                <a asp-controller="Home" asp-action="Details" asp-route-id="@promotedProperty.Id"
                               class="btn btn-primary bg-gradient border-0 form-control">
                                Details
                            </a>
                        </div>
                    </div>
                </div>  
            }
        </div>
    
    }
    <div class="card-deck home-card-list-container pt-3">
    
            @foreach (var property in Model)
            {
                <div class="col p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <img src="@property.ImageUrl" class="card-img-top rounded" />
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@property.Address</p>
                                <p class="card-title text-warning text-center">@property.PropertyType.Name</p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark opacity-75 text-center"><span>@property.Price.ToString("c")</span></p>
                            </div>
                        </div>
                        <div>
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@property.Id"
                               class="btn btn-primary bg-gradient border-0 form-control">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            }
    </div>
</div>




