@model IEnumerable<Property>

<div class="container">
    @if(Model != null)
    {
        var promotedProperty = Model.FirstOrDefault();

        <div class="row home-banner-container">
            <div class="col-12 col-md-4 pt-5">
                <h2 class="text-center">Find Your Perfect Place, Right Where You Want It</h2>
                <form method="post" asp-controller="Home" asp-action="SearchResults" class="p-3">
                    <!-- Button group for radio buttons -->
                    <div class="btn-group d-flex justify-content-center flex-wrap" role="group" aria-label="Search Type">
                        <input type="radio" class="btn-check" name="searchType" id="searchHouse" value="House" autocomplete="off" checked>
                        <label class="btn btn-outline-success" for="searchHouse">House</label>
                        <input type="radio" class="btn-check" name="searchType" id="searchBedroom" value="Bedroom" autocomplete="off">
                        <label class="btn btn-outline-success" for="searchBedroom">Room Only</label>
                        <input type="radio" class="btn-check" name="searchType" id="searchAll" value="All" autocomplete="off">
                        <label class="btn btn-outline-success" for="searchAll">All</label>
                    </div>
                    <div class="mt-3">
                        <input id="searchPhrase" name="searchPhrase" class="form-control"
                               type="search" placeholder="Search by City, Postcode, Address" aria-label="Enter search term">
                    </div>
                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-lg btn-secondary" type="submit">Search</button>
                    </div>
                </form>
            </div>

            @if(promotedProperty != null)
            {
                <div class="col-12 col-sm-6">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <div id="carouselPromotedProperty" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
                            <div class="carousel-inner">
                                @if (promotedProperty.Images != null && promotedProperty.Images.Any())
                                {
                                    int index = 0;
                                    foreach (var image in promotedProperty.Images)
                                    {
                                        <div class="carousel-item @(index == 0 ? "active" : "")">
                                            <img src="@image.ImageUrl" class="d-block w-100 rounded" alt="Promoted Property Image @(index + 1)" style="width: 250px; height: 250px; object-fit: scale-down" />
                                        </div>
                                        index++;
                                    }
                                }
                                else
                                {
                                    <div class="carousel-item active">
                                        <img src="/images/no-image-available.png" class="d-block w-100 rounded" alt="No Images Available" />
                                    </div>
                                }
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPromotedProperty" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselPromotedProperty" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                        <div class="card-body pb-0">
                            <div class="pl-1">
                                    <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@promotedProperty.Address</p>
                                    <p class="card-title text-warning text-center">@promotedProperty.PropertyType.Name</p>
                            </div>
                            <div class="pl-1">
                                    <p class="text-dark opacity-75 text-center"><span>@promotedProperty.Price.ToString("c")</span></p>
                            </div>
                        </div>
                        <div>
                                <a asp-controller="Home" asp-action="Details" asp-route-id="@promotedProperty.Id"
                               class="btn btn-primary bg-gradient border-0 form-control">
                                Details
                            </a>
                        </div>
                    </div>
                </div>  
            }
        </div>
    
    }
    <div class="card-deck home-card-list-container pt-3">
            @foreach (var property in Model)
            {
            <div class="col-12 col-sm-6 col-md-4 p-1">
                <div class="card border-0 p-3 shadow border-top border-5 rounded">
                    @{
                        string carouselId = "carouselProperty" + @property.Id;
                    }
                    <div id="@carouselId" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
                            <div class="carousel-inner">
                                @if (property.Images != null && property.Images.Any())
                                {
                                    int index = 0;
                                    foreach (var image in property.Images)
                                    {
                                        <div class="carousel-item @(index == 0 ? "active" : "")">
                                        <img src="@image.ImageUrl" class="d-block w-100 rounded" alt="Property Image @(index + 1)" style="width: 250px; height: 250px; object-fit: scale-down" />
                                        </div>
                                        index++;
                                    }
                                }
                                else
                                {
                                    <div class="carousel-item active">
                                        <img src="/images/no-image-available.png" class="d-block w-100 rounded" alt="No Images Available" />
                                    </div>
                                }
                            </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#@carouselId" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#@carouselId" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@property.Address</p>
                                <p class="card-title text-warning text-center">@property.PropertyType.Name</p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark opacity-75 text-center"><span>@property.Price.ToString("c")</span></p>
                            </div>
                        </div>
                        <div>
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@property.Id"
                               class="btn btn-primary bg-gradient border-0 form-control">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            }
    </div>
</div>




