@model SearchResultsVM
<partial name="~/Views/Shared/_SearchAndFilterBar.cshtml" />

@* <div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var property in Model.PropertyList)
    {
        <div class="col">
            <div class="card border-0 shadow border-top border-5 rounded h-100">
                <img src="@property.ImageUrl" class="card-img-top rounded" />
                <div class="card-body">
                    <div class="pl-1">
                        <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@property.Address</p>
                        <p class="card-title h5 text-dark opacity-75 text-center">@property.City, @property.Postcode</p>
                       
                        <p class="card-title text-warning text-center">@property.PropertyType.Name</p>
                    </div>
                    <div class="pl-1">
                        <p class="text-dark opacity-75 text-center"><span>@property.Price.ToString("c")</span></p>
                    </div>
                </div>
                <div>
                    <div class="card-footer bg-transparent border-0">
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@property.Id"
                           class="btn btn-primary bg-gradient border-0 form-control">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div> *@


<div class="container">
    @foreach (var property in Model.PropertyList)
    {
        <div class="row g-4 mb-4 align-items-center">
            <div class="col-md-4">
                <img src="@property.ImageUrl" class="img-fluid rounded shadow" style="width: 300px; height: 200px;" /> 
            </div>
            <div class="col-md-8">
                <div class="card border-0 shadow border-top border-5 rounded h-100">
                    <div class="card-body">
                        <p class="card-title h5 text-dark opacity-75 text-uppercase">@property.Address</p>
                        <p class="card-title h5 text-dark opacity-75">@property.City, @property.Postcode</p>
                        <p class="card-title text-warning">@property.PropertyType.Name</p>
                        <p class="text-dark opacity-75"><span>@property.Price.ToString("c")</span></p>
                    </div>
                    <div class="card-footer bg-transparent border-0">
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@property.Id"
                           class="btn btn-primary bg-gradient border-0">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

