@model ChatVM

@{
    var recipientEmail = ViewBag.RecipientEmail as string ?? string.Empty;
    var propertyAddress = ViewBag.PropertyAddress as string ?? string.Empty;
    var propertyCity = ViewBag.PropertyCity as string ?? string.Empty;
    var propertyPrice = ViewBag.PropertyPrice as string ?? string.Empty;
}

<!-- Pass conversation Ids to JavaScript -->
<script>
    // Pass the conversation Ids to JavaScript via the ViewModel
    const conversationIds = @Html.Raw(Json.Serialize(Model.ConversationIds));
    console.log("User's conversation IDs: ", conversationIds);
    window.currentUserId = '@Model.UserId';
</script>

<div class="container mt-4">

    <!-- Chat Control Panel -->
    <div class="row mb-3">
        <h2>Hello, @Model.ApplicationUser.Name! Chat with others in Rentaroom.</h2>

        <!-- Hidden input for User's email -->
        <input type="hidden" id="senderEmail" value="@User.Identity.Name" />   
        
        <div class="col-md-6">
            <label for="receiverEmail" class="form-label">Start Chat with (Email)</label>
            <div class="d-flex align-items-center">
                <!-- Prepopulate if provided -->
                <input type="text" class="form-control" 
                    id="receiverEmail" value="@recipientEmail" 
                    placeholder="Enter email to start a private chat" />
                <button id="startChat" class="col-md-3 btn btn-success px-4" style="margin-left: 10px;">Start Chat</button>
            </div>
        <div id="emailError">User not found. Please enter a valid email.</div> <!-- Error message -->
        </div>
    </div>


    <!-- Chat Area -->
    <div class="row">
        <!-- Conversation SideBar-->
        <div class="col-md-3">
            <h3>Your Conversations</h3>
            <!-- Conversation List -->
            <div id="conversation-list">
                @if (Model.Conversations.Any())
                {
                    @foreach (var conversation in Model.Conversations)
                    {
                        <div class="conversation-item" data-conversation-id="@conversation.ChatConversationId" 
                        data-recipient-email="@conversation.RecipientEmail">
                            <div class="recipient">@conversation.RecipientEmail</div>
                            <div class="last-message">@conversation.LastMessage</div>
                            <div class="timestamp">
                                @if (conversation.LastMessageTimestamp.HasValue)
                                {
                                    @conversation.LastMessageTimestamp.Value.ToString("g")
                                }
                                else
                                {
                                    @:No timestamp available
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <!-- Chat Window -->
        <div class="col-md-9">
            <div id="chatWindows">
                <p class="text-muted">Click a conversation to resume chat or enter email above to start a chat.</p>
                <div id="chatInfo"
                     data-recipient-email="@ViewBag.RecipientEmail"
                     data-property-address="@ViewBag.PropertyAddress"
                     data-property-city="@ViewBag.PropertyCity"
                     data-property-price="@ViewBag.PropertyPrice">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/chatSignalR.js"></script>
    <script type="module" src="~/js/chatMessages.js"></script>
    <script type="module" src="~/js/chat.js"></script>
}

